<% layout("layout") -%>
<div class="row">
    <% if (removeMessage.length > 0) { %>
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= removeMessage %>
    </div>
    <% } %>
</div>
<div class="row">
    <% if(foundCart.items.length == 0) { %>
        <h4 class="text-center" style="margin-top: 50px;text-decoration: none;">OOps! No items in cart: <a href="/" style="text-decoration: none;color:#00C853;">Go back to buy items</a></h4>
    <% } else { %>
        <div class="col s8">
            <table class="left bordered striped">
                <thead >
                <tr>
                    <th class="left">Product</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% for(var item in foundCart.items) { %>
                    <tr>
                        <td>
                            <div class="col s4">
                                <img src="/img/iphone.jpg" alt=""style="width:80px;">
                            </div>
                            <div class="col s6">
                                <div class="row">
                                    <h6>
                                        <a class="list-group-item-heading" href="product/<%= foundCart.items[item].item._id %>"><%= foundCart.items[item].item.name %></a>
                                    </h6>
                                </div>
                                <div class="row">
                                    <h6><%= foundCart.items[item].item.manufacturer %></h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="..." >
                                <button type="button" id="minus" class="btn btn-default">-</button>
                                <button type="button" id="total" class="btn btn-default"><%= foundCart.items[item].quantity %></button>
                                <button type="button" id="plus" class="plus btn btn-default">+</button>
                            </div>
                        </td>
                        <td>
                            <form action="/remove" method="post">
                                <div class="form-group">
                                    <input type="hidden" name="item" value="<%= foundCart.items[item]._id %>">
                                    <button type="submit" class="btn red"><i class="material-icons">delete</i></button>
                                </div>
                            </form>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            <ul class="collection">
                <% for(var item in foundCart.items) { %>
                <li class="collection-item avatar">
                    <img src="/img/iphone.jpg" alt="" class="circle">
                    <span class="title">Title</span>
                    <p>First Line <br>
                        Second Line
                    </p>
                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>
                <% } %>
            </ul>
        </div>
    <% } %>
</div>
<!--
<% layout("layout") -%>
<% if (removeMessage.length > 0) { %>
<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>
    </button>
    <%= removeMessage %>
</div>
<% } %>
<div class="row">
    <% if(foundCart.items.length == 0) { %>
    <h3 class="text-center" style="margin-top: 50px;text-decoration: none;">OOps! No items in cart: <a href="/" style="text-decoration: none;color:darkgreen;">Go back to buy items</a></h3>
    <% } else { %>
    <div class="col s6">
        <% for(var item in foundCart.items) { %>
        <div class="list-group">
            <div class="list-group-item">
                            <span class="row">
                                <div class="col s2">
                                    <span><img src="/img/iphone.jpg" alt=""
                                               class="product-image responsive"></span>
                                </div>
                                <div class="col-md-4">
                                    <h3>
                                        <a class="list-group-item-heading" href="product/<%= foundCart.items[item].item._id %>"><%= foundCart.items[item].item.name %></a>
                                    </h3>
                                </div>
                                <div class="col-md-3">
                                    <p>Quantity: <%= foundCart.items[item].quantity %></p>
                                    <div class="btn-group" role="group" aria-label="..." >
                                        <button type="button" id="minus" class="btn btn-default">-</button>
                                        <button type="button" id="total" class="btn btn-default">1</button>
                                        <button type="button" id="plus" class="plus btn btn-default">+</button>
                                    </div>

                                </div>
                                <div class="col-sm-1 col-md-1">
                                    <form action="/remove" method="post">
                                        <div class="form-group">
                                            <input type="hidden" name="item" value="<%= foundCart.items[item]._id %>">
                                            <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </span>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>
</div>
-->
