<% layout("layout") -%>
<div class="container" style="min-height: 600px;">
    <div class="row">
        <% if (removeMessage.length > 0) { %>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= removeMessage %>
        </div>
        <% } %>
    </div>
    <div class="row" style="margin-top: 100px;">
        <% if(foundCart.items.length == 0) { %>
        <h4 class="text-center" style="margin-top: 50px;text-decoration: none;">OOps! No items in cart: <a href="/" style="text-decoration: none;color:#00C853;">Go back to buy items</a></h4>
        <% } else { %>
        <div class="col s9">
            <table class="left bordered">
                <thead >
                <tr>
                    <th class="left">Product</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% for(var item in foundCart.items) { %>
                <tr>
                    <td>
                        <div class="col s2">
                            <img src="/img/iphone.jpg" alt=""style="width:80px;">
                        </div>
                        <div class="col s8">
                            <div class="row" style="margin: 3px;">
                                <a class="list-group-item-heading" href="product/<%= foundCart.items[item].item._id %>" style="color: #333; font-weight: bold;
                                font-size: 1.2em;"><%= foundCart.items[item].item.name %></a>
                            </div>
                            <div class="row" style="margin: 3px;">
                                <%= foundCart.items[item].item.manufacturer %>
                            </div>
                        </div>
                    </td>
                    <td>
                        <form action="/updateCart" method="post">
                            <input type="hidden" name="product_id" id="product_id" value="<%= foundCart.items[item].item._id %>">
                            <div class="row">
                                <button type="button" class="btn btn-small minusBtn">-</button>
                                <input type="hidden" class="quantity" name="quantity" id="quantity" value="<%= foundCart.items[item].quantity %>">
                                <input type="text" class="cartQuantity" value="<%= foundCart.items[item].quantity %>">
                                <button type="button"  class="btn btn-small plusBtn">+</button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <form action="/remove" method="post">
                            <div class="row">
                                <input type="hidden" name="item" value="<%= foundCart.items[item]._id %>">
                                <button type="submit" class="btn deleteBtn"><i class="material-icons" style="color:#aaa;font-size: 2em;">delete</i></button>
                            </div>
                        </form>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <div class="col s3">
            <div class="card" style="box-shadow: none; border: 1px dashed #ccc; padding: 5px; margin-top: 50px;">
                <div class="card-header" style="border-bottom: 1px solid #eee;">
                    <h5>Cart summary</h5>
                </div>
                <div class="card-content">
                    <h6>Total: <span class="cartSummary" value="<%= cart %>" style="font-weight: bold;"></span> items</h6>
                </div>
                <div class="card-action" style="padding: 5px;width: 100%;margin:0;">
                    <a href="/checkout" class="btn" style="font-size: 0.8em;background-color: #ddd; color:#000;">Check out<i class="material-icons right"
                                                                         style="width: 10px;height: 10px;">keyboard_arrow_right</i></a>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
