<% layout("layout") %>
<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <div class="">
                <h4>MANUFACTURERS</h4>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                A - G
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="nav">
                                <% for(var i = 0; i <  manufacturers.length; i++ ) { %>
                                <li class="">
                                    <a href="/products/<%= currentCategory %>/<%= manufacturers[i] %>" class="btn btn success btn-lg pull-left" style="width: 100%;text-align: left;"><%= manufacturers[i] %></a>
                                </li>
                                <% } %>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                G - N
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            VHS.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                O - U
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                           a
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="button" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                V - Z
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            a
                        </div>
                    </div>
                </div>
            </div>
            <!--<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#manuList1" aria-expanded="false"
                    aria-controls="manuList1" style="width: 100%;">
                A - F
            </button>
            <div class="nav" id="manuList1">
                <% for(var i = 0; i <  manufacturers.length; i++ ) { %>
                <li class="">
                    <a href="#" class="btn btn success btn-lg"><%= manufacturers[i] %></a>
                </li>
                <% } %>
            </div>-->
        </div>
        <div class="col-xs-9">
            <% for(var product in products) { %>
            <div class="col-xs-4 column productbox">
                <a href="/product/<%= products[product]._id %>" style="text-decoration: none; color:#000;">
                    <img src="<%= products[product].image %>" class="img-responsive">
                    <div class="producttitle">
                        <p><%= products[product].category.name %></p>
                        <h4><%= products[product].name %></h4>
                    </div>
                    <div class="productprice">
                        <form action="/addToCart" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="hidden" class="form-control" name="quantity" value="1">
                                    <input type="hidden" name="product_id" id="product_id" value="<%= products[product]._id %>">
                                    <input type="hidden" name="priceHidden" id="priceHidden" value="<%= products[product].price %>">

                                    <% if(user){ %>
                                    <div class="pull-left" style="padding: 10px 5px;">
                                        <button type="submit" class="btn btn-primary btn-sm" style="margin-right: 1px;">ADD TO CART</button>
                                    </div>
                                    <% } else { %>
                                    <a href="/login" class="btn btn-warning">Signin to make order</a>
                                    <% } %>
                                </div>
                            </div>
                        </form>
                        <!--<div class="pricetext">£8.95</div>-->
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</div>