<% layout("layout") %>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-5">
             <img src="<%= product.image %>" class="img img-responsive">
        </div>

        <div class="col-sm-6 col-md-6 col-md-offset-1 col-sm-offset-1">
            <h3><%= product.name %></h3>
            <p><%= product.category.name %></p>
            <p><%= product.price %></p>

            <div style="padding: 15px 0 0 0; border: 1px solid #ccc;">
                <form action="/addToCart" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" class="form-control" name="quantity" id="quantity" value="1">
                            <div class="col-sm-6 col-md-4 form-group">
                                <div class="btn-group" role="group" aria-label="..." >
                                    <button type="button" id="minus" class="btn btn-default">-</button>
                                    <input type="text" id="total" value="1" class="form-control btn btn-default" style="width: 50px;">
                                    <button type="button" id="plus" class="plus btn btn-default" style="float: left;">+</button>

                                </div>
                            </div>
                            <input type="hidden" name="product_id" id="product_id" value="<%= product._id %>">
                            <input type="hidden" name="priceHidden" id="priceHidden" value="<%= product.price %>">
                            <div class="form-group col-sm-6 col-md-3">
                                <% if(user){ %>
                                <button type="submit" class="btn btn-primary" style="margin-right: 1px;">Add to cart</button>
                                <% } else { %>
                                <a href="/login" class="btn btn-warning">Signin to make order</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>