<% layout("layout") %>
<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="/img/iphone.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col s7" style="padding-left: 20px;">
            <div class="row" style="margin-bottom: 5px; border-bottom: 1px solid #eee;">
                <h4 style="font-weight: bold;"><%= product.name %></h4>
            </div>
            <div class="row" style="border-bottom: 1px solid #eee;">
                <div class="col s4" style="padding: 10px 0;">
                    <h5 style=" padding: 0; margin: 0;"><%= product.category.name %></h5>
                    <h6 style=""><%= product.manufacturer %></h6>
                </div>
            </div>
            <div class="row" style="padding: 0;">
                <div class="col s6">
                    <form action="/addToCart" method="post" id="productForm">
                        <input type="hidden" name="product_id" id="product_id" value="<%= product._id %>">
                        <div class="row">
                            <button type="button" class="btn btn-small productMinusBtn">-</button>
                            <input type="hidden" class="quantity" name="quantity" id="quantity" value="1">
                            <input type="text" class="productQuantity" value="1" placeholder="Qty">
                            <button type="button"  class="btn btn-small productPlusBtn">+</button>
                            <button type="submit" class="btn homeAddToCart"
                                    style=" margin-left:20px;padding-left: 5px; padding-right: 5px;background-color: #ddd;color:#000;">ADD TO CART</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="card-panel" style="box-shadow: none; border: 1px solid #eee;">
                    <span><%= product.description %></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="container">
    <div >
        <div>

            <div class="col s3" style="margin-top: 25px;">
                <img src="/img/iphone.jpg" class="responsive-img" width="100px;">
            </div>

            <div class="col s7 offset-s1">
                <div class="product-title"><h3 style="font-weight: bold;"><%= product.name %></h3></div>
                <div class="product-desc"><h5 style="font-weight: bold;color: #777;"><%= product.category.name %></h5></div>

                <hr>
                <form action="/addToCart" method="post" id="productForm">
                    <div class="row">
                        <input type="hidden" class="form-control" name="quantity" id="quantity" value="1">
                        <div class="col-xs-5 form-group">
                            <div  role="group" aria-label="..." >
                                <button type="button" id="minus" class="btn btn-default">-</button>
                                <input type="text" class="text-center" id="total" value="1"  style="width: 45px;height:33px;margin:0;">
                                <button type="button" id="plus" class="plus btn btn-default">+</button>
                            </div>
                        </div>
                        <input type="hidden" name="product_id" id="product_id" value="<%= product._id %>">
                        <input type="hidden" name="priceHidden" id="priceHidden" value="<%= product.price %>">
                        <div class="col-xs-5 form-group">
                            <% if(user){ %>
                            <button type="submit" id="addToCart" class="btn btn-primary text-left" style="width:107px;">Add to cart</button>
                            <% } else { %>
                            <a href="/login" class="btn btn-warning">Signin to make order</a>
                            <% } %>
                        </div>
                    </div>
                </form>
                <hr>
                <div class="panel panel-default" style="border: 1px solid #EBEFF0;">
                    <div class="panel-heading" style="background-color: #EBEFF0;">
                        <h3 class="panel-title" >Description</h3>


                    </div>
                    <div class="panel-body">
                        <%= product.description %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
