<% layout("layout") -%>

<div class="container">

    <% if(results.length === 0 ){ %>
    <h3>Search not found</h3>
    <% } else { %>
    <h3>Results for <%= query %></h3>
    <div class="row">
        <% for(var result in results) { %>
        <div class="col-xs-3 column productbox">
            <a href="/product/<%= results[result]._id %>" style="text-decoration: none; color:#000;">
                <img src="<%= results[result]._source.image %>" class="img-responsive">
                <div class="producttitle">
                    <p><%= results[result]._source.category.name %></p>
                    <h4><%= results[result]._source.name %></h4>
                </div>
                <div class="productprice">
                    <form action="/addToCart" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" class="form-control" name="quantity" value="1">
                                <input type="hidden" name="product_id" id="product_id" value="<%= results[result]._id %>">
                                <input type="hidden" name="priceHidden" id="priceHidden" value="<%= results[result]._source.price %>">

                                <% if(user){ %>
                                <div class="pull-left" style="padding: 10px 5px;">
                                    <button type="submit" class="btn btn-primary btn-sm" style="margin-right: 1px;">ADD TO CART</button>
                                </div>
                                <% } else { %>
                                <a href="/login" class="btn btn-warning">Signin to make order</a>
                                <% } %>
                            </div>
                        </div>
                    </form>
                    <!--<div class="pricetext">£8.95</div>-->
                </div>
            </a>
        </div>
        <% } %>

    </div>
    <% } %>
</div>